@use 'index' as *;

:host {
  display: block;
}

img {
  width: auto;

  @include mobile {
    height: 222px;
  }

  @include tablet {
    height: 532px;
  }

  @include desktop {
    position: absolute;
  }
}

@include desktop {
  .commander {
    width: 569px;
    height: 702px;

    top: 62px;
    left: 734px;
  }

  .mission-specialist {
    width: 454px;
    height: 654px;

    top: 110px;
    left: 800px;
  }

  .pilot {
    width: 555px;
    height: 654px;

    top: 110px;
    left: 744px;
  }

  .flight-engineer {
    width: 616px;
    height: 606px;

    top: 158px;
    left: 736px;
  }
}
