@use 'index' as *;

[role="radiogroup"] {
  display: flex;
  gap: 16px;

  @include desktop {
    gap: 24px;
  }

  [type="radio"] {
    appearance: none;
    cursor: pointer;
    background-color: map-get($palette, 'white');
    border-radius: 50%;

    height: 10px;
    width: 10px;

    @include desktop {
      height: 15px;
      width: 15px;
    }

    opacity: 0.17;

    &:hover, &:focus-visible {
      opacity: 0.5;
    }

    &:checked {
      opacity: 1;
    }
  }
}
