@use 'index' as *;

:host {
  display: block;
  position: relative;
  min-height: 100vh;
  min-width: min-content;
  
  @include mobile {
    padding-top: 24px;
  }
  
  @include desktop {
    padding-top: 40px;
  }
}
