<div class="topNav">
  <app-logo-svg></app-logo-svg>
  <button class="close" *ngIf="sideNavOpened; else menuButton" type="button"
      (click)="toggleSideNav()">
    <app-close-svg></app-close-svg>
  </button>
</div>

<nav class="sideNav" *ngIf="sideNavOpened">
  <ul class="links">
    <li *ngFor="let i of [0,1,2,3]">
      <a class="link" routerLink="/{{ i ? pages[i] : '' }}"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="index">{{ '0' + i }}</span>{{ pages[i] }}
      </a>
    </li>
  </ul>
</nav>

<ng-template #menuButton>
  <button class="menu" type="button" (click)="toggleSideNav()">
    <app-menu-svg></app-menu-svg>
  </button>
</ng-template>
