@use 'index' as *;
@use 'sass:color';

$height-breakpoint: 380px;

.topNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Keep on top
  position: relative;
  z-index: 1;
}

.sideNav {
  width: 254px;
  padding: 120px 0 0 32px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;

  // Backdrop
  background: color.change(map-get($palette, 'white'), $alpha: 0.04);
  backdrop-filter: blur(40px);

  // Add support for small viewport sizes
  overflow-y: auto;
  @media (max-height: $height-breakpoint) {
    padding-top: 80px;
  }

  @media (max-width: 240px) {
    width: 100%;
  }
}

app-logo-svg {
  margin-left: 24px;

  @mixin size($value) {
    height: #{$value}px;
    width: #{$value}px;
  }

  @include size(48);

  @include mobile {
    @include size(40);
  }
}

.menu,
.close {
  // Reset button styles
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.menu {
  margin-right: 24px;
}

.close {
  position: absolute;
  top: 34px;
  right: 26px;
}

.links {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32rem;
  min-width: max-content;

  @media (max-height: $height-breakpoint) {
    gap: 16rem;
  }

  >li {
    display: block;
  }

  .link {
    text-decoration: none;
    display: block;

    // Typography
    font-family: Barlow Condensed;
    font-size: 16rem;
    line-height: 2; // center vertically
    letter-spacing: 2.7rem;
    color: map-get($palette, 'white');
    text-transform: uppercase;

    & {
      border-right: 4px solid transparent;
    }

    // Keep hover rule before active rule
    &:hover {
      border-right-color: color.change(map-get($palette, 'white'),
          $alpha: 0.5);
    }

    &.active {
      border-right-color: map-get($palette, 'white');
    }

    .index {
      font-weight: 700;
      margin-right: 12rem;
    }
  }
}
