@use 'index' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    gap: 80px;
    padding: 48px 24px;
  }
  
  @include tablet {
    gap: 156px;
    padding: 106px 0 90px;
  }
  
  @include desktop {
    flex-direction: row;
    align-items: flex-end;
    gap: max(386px, 26.8vw);
    padding: max(252px, 28vh) 0 130px max(164px, 11.4vw);
  }
}
